<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin/editUser}" th:object="${user}">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <label for="name">
            <p>NAME</p>
            <input type="text" th:field="*{name}" id="name">
        </label>
        <label for="lastName">
            <p>LAST NAME</p>
            <input type="text" th:field="*{lastName}" id="lastName">
        </label>
        <label for="text">
            <p>EMAIL</p>
            <input type="text" th:field="*{email}" id="text">
        </label>
        <label for="username">
            <p>USERNAME</p>
            <input type="text" th:field="*{username}" id="username">
        </label>
        <label for="password">
            <p>PASSWORD</p>
            <input type="text" th:field="*{password}" id="password">
        </label>
        <br>
        <label for="role">Role</label>
        <select style="height: 50px; width: 100%" class="custom-select" name="auth" multiple id="role" required>
            <option th:selected="User" id="user">User</option>
            <option th:selected="Admin" id="admin">Admin</option>
        </select>
        <br>
        <input type="submit"/>
    </form>
    <a th:href="@{/admin/userList}">Go back user list.</a>
</div>
</body>
</html>